<main id="listWalkers">
    <div class="titleinfo">
        <center><h2>List of Dog Walkers or Dogs</h2>
    </div>

    <button class="btn" name="button1" style="margin-top: 5%" onclick="listWalkers()">List Dog Walkers</button>
    <button class="btn" name="button2" style="margin-top: 5%" onclick='listDogs("walkers")'>List Dogs</button>

    <h3>Current Dog Walkers:</h3>
    <table class="tables">
        <thead>
        <th>name</th>
        <th>email</th>
        <th>num_spots</th>
        </thead>
        <tbody>
            {{#each walkers}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{num_spots}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table><br /><br />

    <h3>Current Dogs:</h3>
    <table class="tables">
        <thead>
        <th>name</th>
        <th>breed</th>
        <th>size</th>
        </thead>
        <tbody>
            {{#each dogs}}
            <tr>
                <td>{{name}}</td>
                <td>{{breed}}</td>
                <td>{{size}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</main>

<script>
    function listWalkers() {
        window.location = '/walkers/list_walkers';
    }

    function listDogs(table) {
        window.location = '/' + table + '/list_dogs';
    }
</script>
