<main id="list_breeders">
    <div class="titleinfo">
        <center><h2>List Breeders</h2>
    </div>

    <button class="btn" name="button1" style="margin-top: 5%" onclick="listBreeders()">List Breeders</button>
    <button class="btn" name="button1" style="margin-top: 5%" onclick='listDogs("breeders")'>List Dogs</button>

    <h3>Current Breeders:</h3>
    <table class="tables">
        <thead>
        <th>name</th>
        <th>email</th>
        <th>breeds</th>
        <th>has_dogs</th>
        <th>num_dogs</th>
        </thead>
        <tbody>
            {{#each breeders}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{specialized_breeds}}</td>
                <td>{{has_dogs}}</td>
                <td>{{dogs_avail}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table><br /><br />

    <h3>Current Dogs:</h3>
    <table class="tables">
        <thead>
        <th>id</th>
        <th>name</th>
        <th>breed</th>
        <th>size</th>

        </thead>
        <tbody>
            {{#each dogs}}
            <tr>
                <td>{{dogId}}</td>
                <td>{{name}}</td>
                <td>{{breed}}</td>
                <td>{{size}}</td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</main>

<script>
    function listBreeders() {
        window.location = '/breeders/list_breeders';
    }

    function listDogs(table) {
        window.location = '/' + table + '/list_dogs';
    }
</script>
