<main id="search_breeder">
    <div class="titleinfo">
        <center>
            <h2>Search for a Breeder</h2>
            <p>
                Please input breeder's name you wish to search for.
            </p>
        </center>
    </div>

    <div class="ownerinfo">
        <input type="text" id="breederName" class="input" name="breederName" placeholder="Name">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="searchBreeders()">Search For Breeders</button>
    </div>

    <h3>Found Breeders:</h3>
    <table class="tables">
        <thead>
        <th>name</th>
        <th>email</th>
        <th>breeds</th>
        <th>has_dogs</th>
        <th>num_dogs</th>
        </thead>
        <tbody>
            {{#each foundBreeders}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>      
                <td>{{specialized_breeds}}</td>
                <td>{{has_dogs}}</td>
                <td>{{dogs_avail}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table><br /><br />

</main>

<script>
    function searchBreeders() {
        var name = document.getElementById("breederName").value;
        window.location = '/breeders/search_for_breeder/' + encodeURI(name);
    }
</script>
